apiVersion: cloudcredential.openshift.io/v1
kind: CredentialsRequest
metadata:
  name: custom-aws-efs
  namespace: openshift-cloud-credential-operator
spec:
  secretRef:
    name: "{{ secret_name }}"
    namespace: "{{ namespace }}"
  providerSpec:
    apiVersion: cloudcredential.openshift.io/v1
    kind: AWSProviderSpec
    statementEntries:
    - effect: Allow
      action: 
      - iam:*
      - ec2:*
      - cloudformation:*
      - elasticfilesystem:*
      #- s3:CreateBucket
      #- s3:DeleteBucket
      resource: "*"